*/.idea/
gym
*.pyc
.ipynb_checkpoints
python
Tensorflow/MNIST_data/
Tensorflow/mnist_own_descent/
Tensorflow/regressiontest/
dpg/regressiontest/
dpg/logging/
DDPG_github
ddpg_working/ddpg-results
NAF/ddpg-results
NAF_github
